@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    text-align: center;
    background-image: url(numeros.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}
h1 {
    margin: 30px 0px;
    font-size: 5em;
    text-align: left;
    padding-left: 100px;
}
main {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#um {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
button {
    width: 50px;
    height: 50px;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: solid 2px black;
}
body > p {
    margin: 30px 0px;
}
