@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    text-align: center;
    background-image: url(numeros.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}
h1 {
    margin: 30px 0px;
    font-size: 5em;
    text-align: left;
    padding-left: 100px;
}
main {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#um {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
}
.acao-btn {
    width: 50px;
    height: 50px;
    font-size: 2em;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: white;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.4s 0.2s;
}
.selecionado {
    border: 2px solid rgb(50, 50, 50);
    background-color: black;
    box-shadow: 0px 0px 15px 0px rgb(115, 255, 0);
}
#dois p {
    width: 200px;
    height: 285px;
    margin: auto;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px 8px;
    box-shadow: 0px 0px 20px 0px black;
    font-size: 1.2em;
}
body > p {
    margin-top: 100px;
    text-align: right;
    padding-right: 100px;
}
