@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(71, 146, 71);
    color: white;
}
h1 {
    padding-top: 20px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
main {
    width: 600px;
    height: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
#um {
    text-align: left;
}
#um > div {
    padding: 20px 0px 0px 20px;
}
#dois > img {
    width: 250px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    padding-top: 10px;
}
body > p {
    padding-top: 10px;
    font-style: italic;
}